.Admin {
    text-align: center;
  }
  
  nav{
    display:flex;
    justify-content: flex;
    align-items: flex-end;
    min-height: 10vh;
    background-color: rgb(241, 237, 237);
    color: rgb(255, 255, 255);
  }
  .nav-links{
    width: 40%;
    display: inline-block;
    justify-content: flex;
    align-items: center;
  list-style: none;
  }
  